body{

  background-image: url(https://imgs.search.brave.com/3kM31ElrbhIy6skRDNpKDTw7k_9yg-_O3dLDopsN-5Q/rs:fit:860:0:0/g:ce/aHR0cHM6Ly9pbWFn/ZXMudW5zcGxhc2gu/Y29tL3Bob3RvLTE1/NDQ2NDA4MDgtMzJj/YTcyYWM3ZjM3P3E9/ODAmdz0xMDAwJmF1/dG89Zm9ybWF0JmZp/dD1jcm9wJml4bGli/PXJiLTQuMC4zJml4/aWQ9TTN3eE1qQTNm/REI4TUh4elpXRnlZ/Mmg4T0h4OGJHbGlj/bUZ5ZVh4bGJud3dm/SHd3Zkh4OE1BPT0);
  
}

.menu{
  width: 70%;
  max-width: 500px;
  background-color: tomato;

  margin-left: auto;

  margin-right: auto;

  padding:20px;


}

.title{

  color: brown;

}

h1,h2,p{

  text-align:center;

}

hr{

  height: 2px;

  background-color: brown;

  border-color: brown;

}

#student,#teacher{

  width:10%;

}

.form p{

  display: inline-block;

  width: 40%;

  text-align: left;

}

.form input{

  width: 50%;

  text-align: left;


}

.form legend{

  text-align: center;

}

.form fieldset{

  border-color: brown;

}

.footer p{

  text-align: left;

}

a{

  color: blue;

}

a:visited{

  color: brown;

}

a:active{

  color: brown;

}

a:hover{

  color: brown;

}
button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

